@import './base.css';

#app {
  min-height: 100vh;
  line-height: 1.8;
  font-family: 'Raleway', sans-serif;
}
.masthead { }
.divider-custom {
  margin: 0rem 0 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.2rem;
  background-color: var(--color-text);
  border-radius: 2rem;
  color: var(--color-text);
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: var(--azul-es);
  font-size: 2rem;
}
.divider-custom .divider-custom-icon-dark {
  color: var(--color-text);
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: var(--color-background);
}
.divider-custom.divider-light .divider-custom-icon {
  color: var(--azul-es);
}
.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
.content {
  padding: 0 2rem 0 2rem;
  background: rgb(195,218,246);
  background: linear-gradient(0deg, rgba(195,218,246,0) 6%, rgba(255,255,255,0.894016981792717) 43%, rgba(255,255,255,1) 100%);
}
.welcome {
  padding: .1rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}
.welcome-user {
  padding: .5rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
}
.its-your-turn {
  padding: .1rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 900;
  color: var(--verde-tu);
}
.actions {
  font-size: .9rem;
  font-weight: 400;
  text-align: left;
  margin-left: .5rem;
  line-height: 1.1rem;
}
.btn-size {
  font-size: small !important;
  --margin-left: .5rem;
  margin-right: .2rem;
}
.your-attention {
  padding-bottom: .5rem;
  font-size: .9rem;
  line-height: 1.2rem;
  font-weight: 700;
  margin-left: .5rem;
  margin-right: .5rem;
}
.to-goal {
  padding-bottom: 1rem;
  font-size: .9rem;
  font-weight: 400;
}
.dark {
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer;
  font-size: .8rem;
  --popper-theme-background-color: var(--gris-tooltip);
  --popper-theme-background-color-hover: var(--gris-tooltip);
  --popper-theme-text-color: var(--color-background);
  --popper-theme-border-width: 0px;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: .6rem;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}
.blue-icon {
  color: var(--azul-turno);
}
.green-icon {
  color: var(--verde-tu);
}
.yellow-icon {
  color: var(--amarillo-star);
}
.red-icon {
  color: var(--rojo-warning);
}
.orange-icon {
  color: var(--orange-no-device);
}
.gray-icon {
  color: var(--gris-default);
}
.whatsapp-button {
  background-color: var(--whatsapp) !important;
  color: var(--color-text) !important;
  border-color: var(--color-background) !important;
}
.facebook-button {
  background-color: var(--facebook) !important;
  color: var(--color-background) !important;
  border-color: var(--color-background) !important;
}
.instagram-button {
  background-color: var(--instagram) !important;
  color: var(--color-background) !important;
  border-color: var(--color-background) !important;
}
.twitter-button {
  background-color: var(--twitter) !important;
  color: var(--color-background) !important;
  border-color: var(--color-background) !important;
}
.recaptcha-area {
  position: relative;
  z-index: 5;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
  justify-content: center;
}
.centered {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.lefted {
  display: flex !important;
  justify-content: left !important;
  align-items: center !important;
}
.righted {
  display: flex !important;
  justify-content: right !important;
  align-items: center !important;
}
.upgrade {
  padding: .2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: .8rem;
  border: .5px solid var(--rojo-warning);
  color: var(--rojo-warning);
  border-radius: .5rem;
  background-color: #fac0bb;
  cursor: pointer;
}
.carousel-indicators li {
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 100%;
  border-color: var(--azul-turno);
  background-color: #669966;
}
.carousel-indicators {
  bottom: -50px;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 50rem;
  height: 0.05rem;
  background-color: var(--gris-default);
  border-radius: 2rem;
  color: var(--gris-default);
  margin-top: .5rem;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: var(--azul-es);
  font-size: 2rem;
}
.divider-custom .divider-custom-icon-dark {
  color: var(--color-text);
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: var(--azul-es);
}
.select {
  border-radius: .5rem;
  border: 1.5px solid var(--gris-clear);
}
.pdf-details {
  font-size:.8rem;
  color:gray;
  text-align:right;
  margin-top:3rem;
}
.btn-selected {
  --bs-btn-bg: var(--azul-qr) !important;
  --bs-btn-border-color: var(--azul-qr) !important;
  --bs-btn-active-bg: var(--azul-qr) !important;
  border-color: var(--azul-qr) !important;
}
.green-area {
  background-color: var(--verde-tu) !important;
}
.yellow-area {
  background-color: var(--amarillo-star) !important;
}
.red-area {
  background-color: var(--rojo-warning) !important;
}
.gray-area {
  background-color: var(--gris-default) !important;
}
.yellow-0-area {
  background-color: #fcfbf2 !important;
  color: var(--color-text) !important;
  font-weight: 700 !important;
}
.yellow-1-area {
  background-color: #fffacf !important;
  color: var(--color-text) !important;
  font-weight: 700 !important;
}
.yellow-2-area {
  background-color: #fff5a3 !important;
  color: var(--color-text) !important;
  font-weight: 700 !important;
}
.yellow-3-area {
  background-color: #faea66 !important;
  color: var(--color-text) !important;
  font-weight: 700 !important;
}
.yellow-4-area {
  background-color: #fcca26 !important;
  color: var(--color-text) !important;
  font-weight: 700 !important;
}
.yellow-5-area {
  background-color: #fac107 !important;
  color: var(--color-text) !important;
  font-weight: 700 !important;
}
.copy-icon {
  color: var(--gris-default) !important;
  cursor: pointer !important;
  margin: .5rem;
}
.whatsapp-icon {
  color: var(--whatsapp) !important;
}
.flip-enter-active,
.flip-leave-active {
  transition: all 1s ease-in-out;
}
.flip-enter-from, .flip-leave-to {
  transform: rotateY(180deg);
  opacity: 0;
}
.flip-enter-active {
  animation: bounce-in 0.2s;
}
.flip-leave-active {
  animation: bounce-in 0.2s reverse;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.metric-card-subtitle {
  font-size: .8rem !important;
  font-weight: 500 !important;
  line-height: .8rem !important;
  cursor: pointer;
}
.act-icon {
  color: var(--azul-es);
  cursor: pointer;
  margin: .5rem;
}
.whatsapp-link {
  color: var(--color-text);
  cursor: pointer;
  text-decoration: underline;
}
.whatsapp-link:hover {
  color: var(--gris-default);
  cursor: pointer;
  text-decoration: underline;
}
.detailed-data {
  width: 100%;
  max-height: 0px;
  height: auto;
  overflow: hidden;
  margin: 0px auto auto;
  font-size: .8rem;
}
.metric-controls {
  font-size: .9rem !important;
}
.date-title {
  font-size: .8rem;
  line-height: .8rem !important;
  letter-spacing: .01px;
}
.card-client-title {
  font-size: .8rem;
  line-height: .9rem !important;
  letter-spacing: -.6px;
}
.idNumber-title {
  font-size: .75rem;
  line-height: .7rem !important;
  letter-spacing: .02px;
}
.metric-filters {
  font-size: .7rem !important;
  line-height: .8rem !important;
  font-weight: 600;
}
.active-name {
  background-color: var(--azul-turno);
  color: var(--color-background);
  font-weight: 700;
  font-size: .9rem;
}
.control-box {
  background-color: var(--color-background);
  padding: .5rem;
  margin: .1rem;
  border-radius: .5rem;
  border: 1px solid var(--gris-default);
}
.card-action {
  font-size: .7rem !important;
  line-height: .8rem !important;
  font-weight: 600;
}
.details-arrow {
  margin: .5rem;
  margin-top: 0;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  line-height: 1.1rem;
  border: 1px solid var(--gris-default);
  border-top: 0;
}
.searcher {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.metric-card-detail-subtitle {
  font-size: .72rem;
  font-weight: 400;
  line-height: .7rem;
}
.text-label {
  font-size: .9rem;
  line-height: 1.1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.active {
  background-color: var(--azul-turno);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  line-height: 1rem;
  border: 1.5px solid var(--azul-turno);
  padding-top: .2rem;
  padding-bottom: .2rem;
}
.desactived {
  background-color: var(--gris-tooltip);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  line-height: 1rem;
  border: 1.5px solid var(--gris-tooltip);
  padding-top: .2rem;
  padding-bottom: .2rem;
}
.desactived-name {
  background-color: var(--gris-tooltip);
  color: var(--color-background);
  font-weight: 700;
  font-size: .9rem;
}
.result-card {
  background-color: var(--color-background);
  padding: .2rem;
  margin-bottom: .5rem;
  border-radius: .5rem;
  border: .5px solid var(--gris-default);
  align-items: left;
}
.subdata-title {
  line-height: 1.2rem !important;
  font-size: .8rem !important;
  font-weight: 700 !important;
  text-align: left;
  background-color: var(--gris-tooltip);
  margin: .1rem;
  border-radius: 1rem;
  line-height: 1rem;
  border: 1.5px solid var(--gris-tooltip);
  color: var(--color-background) !important;
  padding: .2rem !important;
}
.detail-data-badge {
  background-color: var(--color-background);
  border-top: .5px solid var(--gris-default);
  border-left: .5px solid var(--gris-default);
  border-right: .5px solid var(--gris-default);
  color: var(--color-text) !important;
  font-size: .8rem !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
  justify-content: left !important;
  align-items: center !important;
}
.detail-data-badge-title {
  text-decoration: underline;
  font-size: .6rem !important;
  margin-right: .2rem;
}
.service-badge {
  margin-right: .2rem;
  margin-top: .1rem;
}
.item-card {
  background-color: var(--color-background);
  padding: .2rem;
  margin: .2rem;
  border-radius: .5rem;
  border: 1px solid var(--gris-default);
}
.parpadea {
  animation-name: parpadeo !important;
  animation-duration: 2s !important;
  animation-timing-function: linear !important;
  animation-iteration-count: infinite !important;

  -webkit-animation-name:parpadeo !important;
  -webkit-animation-duration: 2s !important;
  -webkit-animation-timing-function: linear !important;
  -webkit-animation-iteration-count: infinite !important;
}
@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
